<article>
  <div class="innerContent">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

          <p id="notice"><%= notice %></p>

          <h1>Blogs</h1>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @blogs.each do |blog| %>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading<%= blog.id%>">
                  <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=blog.id%>" aria-expanded="true" aria-controls="collapse<%=blog.id%>">
                          <i class="more-less glyphicon glyphicon-plus"></i>
                          <h4><b><%= blog.title%></b></h4>
                      </a>
                  </h4>
                </div>
                <div id="collapse<%=blog.id%>" class="panel-collapse collapse <%= 'show' if @blogs.first == blog %>" role="tabpanel" aria-labelledby="heading<%= blog.id%>">
                  <div class="panel-body">
                    <p> <%= blog.body%></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

