<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @admin_blog.body %>
</p>

<%= link_to 'Edit', edit_admin_blog_path(@admin_blog) %> |
<%= link_to 'Back', admin_blogs_path %>
